{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load humanize %}
{% load widget_tweaks %}

<div class="main-content">

    <div class="page-content">

        <!-- START HOME -->
        <section class="bg-home" id="home">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center text-white mb-5">
                            <h1 class="display-5 fw-semibold mb-3">Explore and discover
                                the right <span class="text-warning fw-bold">entry role</span>
                                for you!</h1>
                            
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <form method="GET">
                    <div class="registration-form">
                        <div class="row g-0">
                            <div class="col-lg-3">
                                <div class="filter-search-form filter-border mt-3 mt-lg-0">
                                    <i class="uil uil-briefcase-alt"></i>
                                    {% render_field filter.form.title class="form-control filter-input-box" placeholder="Job, Company name..." %}
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-3">

                                <div class="filter-search-form filter-border mt-3 mt-lg-0">
                                    
                                    <i class="uil uil-map-marker"></i>
                                    {% render_field filter.form.state class="form-select" id="choices-single-location" style="height: 60px; padding: 16px 6px 15px 45px; box-shadow: none !important; border: 0; border-radius: 0;" %}

                                </div>
                               

                            </div><!--end col-->
                            <div class="col-lg-3">
                                <div class="filter-search-form mt-3 mt-lg-0">
                                    <i class="uil uil-clipboard-notes"></i>
                                    
                                    {% render_field filter.form.industry class="form-select" id="choices-single-location" placeholder="Job, Company name..." style="height: 60px; padding: 16px 6px 15px 45px; box-shadow: none !important; border: 0; border-radius: 0;" %}
                                   
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-3">
                                <div class="mt-3 mt-lg-0 h-100">
                                    <button class="btn btn-primary submit-btn w-100 h-100" type="submit"><i class="uil uil-search me-1"></i> Find Job</button>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </form>
            
                
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- End Home -->

        <!-- START SHAPE -->
        <div class="position-relative">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="1440" height="150" preserveAspectRatio="none" viewBox="0 0 1440 220">
                    <g mask="url(&quot;#SvgjsMask1004&quot;)" fill="none">
                        <path d="M 0,213 C 288,186.4 1152,106.6 1440,80L1440 250L0 250z" fill="rgba(255, 255, 255, 1)"></path>
                    </g>
                    <defs>
                        <mask id="SvgjsMask1004">
                            <rect width="1440" height="250" fill="#ffffff"></rect>
                        </mask>
                    </defs>
                </svg>
            </div>
        </div>
        <!-- END SHAPE -->
        

  <!-- START JOB-LIST -->
  <section class="section bg-light">
    <div class="container">

        <!--end row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="recent-jobs" role="tabpanel"
                        aria-labelledby="recent-jobs-tab">
                        {% if filter %}
                        {% for job in filter.qs %}
                        <div class="job-box card mt-4">
                            <div class="bookmark-label text-center">
                                <a href="javascript:void(0)" class="text-white align-middle"><i class="mdi mdi-star"></i></a>
                            </div>
                            <div class="p-4">
                                <div class="row align-items-center">
                                    <div class="col-md-2">
                                        <div class="text-center mb-4 mb-md-0">
                                            <img src="#" alt="" />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-3">
                                        <div class="mb-2 mb-md-0">
                                            <h5 class="fs-18 mb-1"><a href="{% url 'job-details' job.pk %}" class="text-dark">{{ job.title }}</a>
                                            </h5>
                                            <p class="text-muted fs-14 mb-0">{{ job.company }}</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-3">
                                        <div class="d-flex mb-2">
                                            <div class="flex-shrink-0">
                                                <i class="mdi mdi-map-marker text-primary me-1"></i>
                                            </div>
                                            <p class="text-muted mb-0">{{ job.city }}</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-2">
                                        <div>
                                            <p class="text-muted mb-2"><span class="text-primary">₦</span>{{ job.salary|intcomma }}</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-2">
                                        <div>
                                            <span class="badge bg-soft-success fs-13 mt-1">{{ job.job_type }}</span>
                                            <span class="badge bg-soft-info fs-13 mt-1">{{ job.industry }}</span>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <div class="p-3 bg-light">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div>
                                            <p class="text-muted mb-0"><span class="text-dark">Created:</span> {{ job.timestamp|naturaltime }}</p>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6 col-md-5">
                                        
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-2 col-md-3">
                                        <div class="text-start text-md-end">
                                            <!-- <a href="#applyNow" data-bs-toggle="modal" class="primary-link">Apply Now <i
                                                    class="mdi mdi-chevron-double-right"></i></a> -->
                                            <a class="btn btn-primary btn-sm" href="{% url 'job-details' job.pk %}">View Details</a>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <!--end job-box-->


                        <div class="text-center mt-4 pt-2">
                            <a href="{% url 'job-listing' %}" class="btn btn-primary">View More <i class="uil uil-arrow-right"></i></a>
                        </div>

                    </div>
                    <!--end recent-jobs-tab-->

                    

                    
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END JOB-LIST -->




      
    </div>
    <!-- End Page-content -->
    


    <!-- START FOOTER -->
    <section class="bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-item mt-4 mt-lg-0 me-lg-5">
                        <h4 class="text-white mb-4">FirstRole</h4>
                        <p class="text-white-50">FirstRole aims connects startups with new software developers who are willing to work for free.</p>
                        <p class="text-white mt-3">Follow Us on:</p>
                        <ul class="footer-social-menu list-inline mb-0">
                            <li class="list-inline-item"><a href="#"><i class="uil uil-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="uil uil-linkedin-alt"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="uil uil-google"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="uil uil-twitter"></i></a></li>
                        </ul>
                    </div>
                </div><!--end col-->
                <div class="col-lg-2 col-6">
                    <div class="footer-item mt-4 mt-lg-0">
                        <p class="fs-16 text-white mb-4">Company</p>
                        <ul class="list-unstyled footer-list mb-0">
                            <li><a href="#"><i class="mdi mdi-chevron-right"></i> About Us</a></li>
                            <li><a href="#"><i class="mdi mdi-chevron-right"></i> Contact Us</a></li>
                        </ul>
                    </div>
                </div><!--end col-->
                <div class="col-lg-2 col-6">
                    <div class="footer-item mt-4 mt-lg-0">
                        <p class="fs-16 text-white mb-4">For Jobs</p>
                        <ul class="list-unstyled footer-list mb-0">
                            <li><a href="#"><i class="mdi mdi-chevron-right"></i> Browser Jobs</a></li>
                        </ul>
                    </div>
                </div><!--end col-->
                
                <div class="col-lg-2 col-6">
                    <div class="footer-item mt-4 mt-lg-0">
                        <p class="fs-16 text-white mb-4">Support</p>
                        <ul class="list-unstyled footer-list mb-0">
                            <li><a href="#"><i class="mdi mdi-chevron-right"></i> Privacy Policy</a></li>
                        </ul>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <!-- END FOOTER -->

    <!-- START FOOTER-ALT -->
    <div class="footer-alt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-white-50 text-center mb-0">
                        <script>document.write(new Date().getFullYear())</script> &copy; FirstRole
                    
                    </p>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div>
    <!-- END FOOTER -->
    

{% endblock content %}