{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box" style="padding-top: 152px!important; padding-bottom: 10px!important;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h1 class="mb-4">Company Profile</h1>
                        
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->

</div>
<!-- START JOBS-POST-EDIT -->
<section class="section" style="padding-top: 10px!important; padding-bottom: 10px!important;">
    <div class="container">
        <form class="job-post-form shadow mt-4" method="POST" enctype="multipart/form-data">  
            {% csrf_token %}              
            <div class="job-post-content box-shadow-md rounded-3 p-4"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <label for="jobtitle" class="form-label">Company Name</label>
                            {% render_field form.name class="form-control" %}
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <label for="jobtitle" class="form-label">Website Address</label>
                            {% render_field form.website class="form-control" %}
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <label for="jobtitle" class="form-label">Established Date</label>
                            {% render_field form.est_date class="form-control" %}
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <label for="jobtitle" class="form-label">City</label>
                            {% render_field form.city class="form-control" %}
                        </div>
                    </div><!--end col-->
                    <div class="col-lg-12">
                        <div class="mb-4">
                            <label for="jobtitle" class="form-label">State</label>
                            {% render_field form.state class="form-control" %}
                        </div>
                    </div><!--end col-->
                    <!-- <div class="col-lg-12">
                        <div class="mb-4">
                            <label for="jobtitle" class="form-label">Upload Company Logo</label>
                            {% render_field form.company_logo class="form-control" %}
                        </div>
                    </div>end col -->
           
                    <div class="col-lg-12">
                        <div class="text-end">
                            
                            <button type="submit" class="btn btn-primary">Submit <i class="mdi mdi-send"></i> </button>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end job-post-content-->
        </form>
    </div><!--end container-->
</section>
<!-- END JOBS-POST-EDIT -->

{% endblock content %}