{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if request.user.is_applicant %}
{% if not request.user.has_resume %}
<div class="alert  bg-soft-danger" role="alert">
    <b>You're seeing this because you've not created any resume. <a href="{% url 'update-resume' %}">Click here to create one!</a></b>
</div>
{% endif %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h1 class="mb-4">Welcome to FirstRole</h1>
                        <h3 class="mb-4">Applicant Dashboard</h3>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->

</div>

{% elif request.user.is_recruiter %}
{% if not request.user.has_company %}
<div class="alert  bg-soft-danger" role="alert">
    <b>You're seeing this because you've not created any company. <a href="{% url 'update-company' %}">Click here to create one!</a></b>
</div>
{% endif %}
<div class="page-content">

    <!-- Start home -->
    <section class="page-title-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h1 class="mb-4">Welcome to FirstRole</h1>
                        <h3 class="mb-4">Recruiter Dashboard</h3>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!-- end home -->

    <!-- START SHAPE -->
    <div class="position-relative" style="z-index: 1">
        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                <path fill="#FFFFFF" fill-opacity="1"
                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
            </svg>
        </div>
    </div>
    <!-- END SHAPE -->

</div>
{% endif %}
{% endblock content %}